<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>

  <link type="text/css" href="/css/loginMemberForm.css" rel="stylesheet">
  <link th:href="@{/css/header.css}" rel="stylesheet">
</head>
<body>
  <div th:replace="fragment/header :: navBar"></div>

    <div class="login-container">
      <div class="login-content" style="display: flex;">
        <div class="login-page-form">
          <form class="login-form" action="/member/login" method="post">
            <div class="input-id-pwd">
              <label for="login-accountId">아이디</label><br>
              <input id="login-accountId" name="accountId" type="text" placeholder="아이디를 입력하세요." /><br>
              <label for="login-pwd">비밀번호</label><br>
              <input id="login-pwd" name="pwd" type="password" placeholder="비밀번호를 입력하세요." /><br>
            </div>

            <div class="sign-id-pwd">
              <span>아직 회원이 아니신가요?</span>
              <a href="#">&nbsp;&nbsp;회원가입</a>
              <br>
              <span>아이디가 기억이 안나시나요?</span>
              <a href="#">&nbsp;&nbsp;아이디 찾기</a>&nbsp;/&nbsp;<a href="#">비밀번호 찾기</a>
            </div>

            <div class="login-btn">
              <input type="submit" value="로그인"/>
            </div>
          </form>
        </div>

        <div id="ad-img" style="margin-left: 20px;">
          <img src="/images/ad-img(300x300).png" style="width: 400px; height: 400px;"/>
        </div>

      </div>
    </div>
</body>
</html>