<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>

  <th:block layout:fragment="css">
    <link type="text/css" th:href="@{/css/loginMemberForm.css(time=${#calendars.format(#calendars.createNow(), 'HH:mm:ss')})}" rel="stylesheet">
  </th:block>

  <th:block layout:fragment="script">
    <script th:inline="javascript">
        function loginBtn() {
            let accountId = $('#login-accountId').val();
            let pwd = $('#login-pwd').val();
            let loginData = {
                "accountId" : accountId,
                "pwd" : pwd
            };

            let jsonData = JSON.stringify(loginData);

            $.ajax({
                url: '/member/login',
                type: 'post',
                contentType: 'application/json',
                datatype: 'json',
                data: jsonData,
                success: function (data) {
                    if (data === "success") {
                        alert('로그인 성공!');
                        location.href = "http://localhost:8080/";
                    } else {
                        alert('입력한 정보가 올바르지 않습니다.');
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>
  </th:block>
</head>
<body>
  <div layout:fragment="content">
    <div class="login-container">
      <div class="login-content" style="display: flex;">
        <div class="login-page-form">
          <form class="login-form" action="/member/login" method="post">
            <div class="input-id-pwd">
              <label for="login-accountId">아이디</label><br>
              <input id="login-accountId" name="accountId" type="text" placeholder="아이디를 입력하세요." /><br>
              <label for="login-pwd">비밀번호</label><br>
              <input id="login-pwd" name="pwd" type="password" placeholder="비밀번호를 입력하세요." /><br>
            </div>

            <div class="sign-id-pwd">
              <span>아직 회원이 아니신가요?</span>
              <a href="#">&nbsp;&nbsp;회원가입</a>
              <br>
              <span>아이디가 기억이 안나시나요?</span>
              <a href="#">&nbsp;&nbsp;아이디 찾기</a>&nbsp;/&nbsp;<a href="#">비밀번호 찾기</a>
            </div>

            <button type="submit">로그인</button>
          </form>
        </div>

        <div id="ad-img" style="margin-left: 20px;">
          <img src="/images/ad-img(300x300).png" style="width: 400px; height: 400px;"/>
        </div>

      </div>
    </div>
  </div>
</body>
</html>