<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Header</title>

  <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
  <div class="nav-container">
    <div class="site-logo">
      <a href="/"><img src="../../assets/logo(800x800).png" style="width: 150px; height: 150px;"/></a>
    </div>
    <nav class="navbar">
      <ul class="navbar-items">
        <li class="nav-item"><a href="#">홍보/행사</a></li>
        <li class="nav-item"><a href="/tour-board">관광게시판</a></li>
        <li class="nav-item"><a href="#">자유게시판</a></li>
        <li class="nav-item"><a href="#">음식점 추천</a></li>
        <li class="nav-item"><a href="#">공지사항</a></li>
        <li class="nav-item"><a href="#">내동네 알리미</a></li>
        <li class="nav-item"><a href="/login">로그인</a></li>
        <li class="nav-item"><a href="/sign-up">회원가입</a></li>
      </ul>
    </nav>
  </div>

</body>
</html>