<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
  <title>메인 페이지</title>
</head>

<body>
  <div layout:fragment="content">
    <h1>메인 페이지</h1>
    <ul>
      tourBoards directory
      <li><a th:href="@{/tour/list}">관광게시판 페이지로 이동</a></li>
      <li><a th:href="@{/tour/create}">관광게시판 게시글 생성 페이지로 이동</a></li>
      <li><a th:href="@{/tour/info/{id}(id=${1})}">id=1 게시글 내용 페이지로 이동</a></li>
    </ul>
  </div>
</body>
</html>